<?xml version="1.0" encoding="utf-8"?>
<odoo>
	<menuitem 
		name="Remise sur le devis" 
		id="remise" 
		parent="sale.menu_sales_config" 
		action="custom_sales_remise" 
		groups="custom_sales.group_nesil_direction"/>
	<menuitem
        id="crm_menu_config"
        name="Configuration"
        parent="crm_menu_root"
        action="crm.action_your_pipeline"
        sequence="25" groups="custom_sales.group_nesil_direction"/>

</odoo>
